@tailwind base;
@tailwind components;
@tailwind utilities;


.animated-background {
    background-size: 300%;

    -webkit-animation: animation 8s ease infinite;
    -moz-animation: animation 8s ease infinite;
    animation: animation 8s ease infinite;
}

@keyframes animation {
    0%,
    100% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
}